@font-face
{
    font-family: Michroma;
    src: url(./resources/fonts/Michroma.ttf);
}

*
{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

html, body, #root
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
